<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.module.user.mapper.MemberInfoMapper">

    <select id="selectByUserId" resultType="com.mall.module.user.entity.MemberInfo">
        SELECT * FROM member_info WHERE user_id = #{userId}
    </select>

    <insert id="insert" parameterType="com.mall.module.user.entity.MemberInfo">
        INSERT INTO member_info (user_id, member_level, points, expire_time, create_time, update_time)
        VALUES (#{userId}, #{memberLevel}, #{points}, #{expireTime}, NOW(), NOW())
    </insert>

    <update id="updateByUserId" parameterType="com.mall.module.user.entity.MemberInfo">
        UPDATE member_info 
        SET member_level = #{memberLevel}, points = #{points}, expire_time = #{expireTime}, update_time = NOW()
        WHERE user_id = #{userId}
    </update>

</mapper>
