<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.module.product.mapper.RefundOperationLogMapper">

    <resultMap id="logResultMap" type="com.mall.module.product.entity.RefundOperationLog">
        <id column="id" property="id"/>
        <result column="refund_id" property="refundId"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="operator_type" property="operatorType"/>
        <result column="operator_id" property="operatorId"/>
        <result column="operator_name" property="operatorName"/>
        <result column="operation_type" property="operationType"/>
        <result column="operation_detail" property="operationDetail"/>
        <result column="remark" property="remark"/>
        <result column="old_status" property="oldStatus"/>
        <result column="new_status" property="newStatus"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectByRefundId" resultMap="logResultMap">
        SELECT * FROM refund_operation_log
        WHERE refund_id = #{refundId}
        ORDER BY create_time DESC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO refund_operation_log (refund_id, merchant_id, operator_type, operator_id, operator_name, operation_type, operation_detail, remark, old_status, new_status, create_time)
        VALUES (#{refundId}, #{merchantId}, #{operatorType}, #{operatorId}, #{operatorName}, #{operationType}, #{operationDetail}, #{remark}, #{oldStatus}, #{newStatus}, #{createTime})
    </insert>

</mapper>
